@import "buttons.css";
@import "forms.css";
@import "details-summary.css";
@import "tables.css";
@import "pipeline-chart.css";
@import "injection-profile-dialog.css";
@import "site-header.css";
@import "elevation-profile.css";
@import "csv-editor.css";

html {
	margin: 0;
	padding: 0;
	font: 16px/20px normal Arial;
	background-color: var(--primary-color);
	margin-left: calc(100vw - 100%);
}

body {
	margin: 0;
	padding: 0;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	min-height: 100vh;
	box-sizing: border-box;
}

.site {
	margin: 5rem auto 0 auto;
	max-width: 1100px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	background-color: #efefef;
	z-index: 0;
	font-size: 0;
	box-shadow: 0 -1px 2px #0004;
}

.charts {
	grid-area: charts;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;
	padding: 0.5rem 1rem 1rem 1rem;
	box-sizing: border-box;
	height: 100%;
}

.data {
	grid-area: data;
	flex: 0 0 20rem;
	padding: 0.5rem 1rem 1rem 1rem;
}

#program-title{
	margin: 0 auto 0 auto;
	color: #0053a3;
}

.help-tooltip {
	position: relative;
	display: inline-block;
	border-bottom: dotted 2px #555;
	cursor: help;
	margin-bottom: 1rem;
  }
  
  .help-tooltip .tooltiptext {
	visibility: hidden;
	width: 25rem;
	background-color: #fff;
	color: #555;
	text-align: center;
	padding: 0.5rem;
	box-shadow: 1px 1px 1px #32378488;
	position: absolute;
	z-index: 1;
	margin-left: -60px;
	opacity: 0;
	top: -20rem;
	left: -24rem;
	font-size: 1rem;
	transition: opacity 1s;
	cursor: help;
  }
  
  .help-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	cursor: help;
	border: solid 1px var(--primary-color);
  }

  .help-tooltip-images{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
	margin: 1rem;
  }

 .form-backgrounds{
	 background-color: rgba(46, 46, 46, 0.064);
	 border: solid 0.1rem rgba(46, 46, 46, 0.071); 
	 padding: 1rem;
	 border-radius: 1rem;
 }